@font-face {
  font-family: lato-thin;
  src: url("../assets/fonts/Lato-Thin.ttf");
}
@font-face {
  font-family: lato-light;
  src: url("../assets/fonts/Lato-Light.ttf");
}
@font-face {
  font-family: lato-regular;
  src: url("../assets/fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: lato-bold;
  src: url("../assets/fonts/Lato-Bold.ttf");
}
h1 {
  font-size: 3em;
}
@media (min-width: 768px) {
  h1 {
    font-size: 4em;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 5em;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 6em;
  }
}

h2 {
  font-size: 2em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-family: lato-light;
  font-weight: bolder;
  font-size: 1em;
}
@media (min-width: 576px) {
  h5 {
    font-size: 1.1em;
  }
}
@media (min-width: 768px) {
  h5 {
    font-size: 1.2em;
  }
}
@media (min-width: 992px) {
  h5 {
    font-size: 1.3em;
  }
}

/* reset */
* {
  padding: 0;
  margin: 0;
}

/* general style */
html {
  font-family: "lato-regular";
}

img {
  width: auto;
  height: 55%;
  max-height: 400px;
  margin-bottom: 2%;
}

a {
  text-decoration: none;
  color: #10403B;
}

ul {
  list-style-type: none;
}

body {
  display: grid;
  grid-template-rows: 74px auto 50px;
  min-height: 100vh;
}
body header .navbar-main {
  background-color: white !important;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
}
body footer {
  background-color: #10403B;
  color: #8AA6A3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1%;
  bottom: 0;
  margin: 0;
}
@media (min-width: 576px) {
  body footer {
    justify-content: right;
    padding: 1%;
  }
}
body footer .footer-text {
  font-style: italic;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-right: 2%;
}
body footer .footer-text p {
  padding: 0;
  margin: 0;
}
body footer .footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 20%;
}
@media (min-width: 576px) {
  body footer .footer-links {
    width: 12%;
  }
}
@media (min-width: 992px) {
  body footer .footer-links {
    width: 9%;
  }
}

.main-index {
  display: flex;
  flex-direction: column;
}
.main-index .index-title {
  margin: 30px;
  text-align: center;
}
.main-index .index-title p {
  font-family: lato-light;
  font-size: 1.5em;
  font-style: italic;
}
@media (min-width: 768px) {
  .main-index .index-title p {
    font-size: 2em;
  }
}
@media (min-width: 992px) {
  .main-index .index-title p {
    font-size: 2.2em;
  }
}
.main-index .index-card-stack {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 30px 30px 30px;
}
@media (min-width: 576px) {
  .main-index .index-card-stack {
    margin: 0 45px 30px 45px;
  }
}
@media (min-width: 768px) {
  .main-index .index-card-stack {
    margin: 30px 45px 30px 45px;
  }
}
@media (min-width: 992px) {
  .main-index .index-card-stack {
    margin: 30px 55px 30px 55px;
  }
}
.main-index .index-card-stack div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px 10px 15px;
  margin-bottom: 20px;
  background-color: #F5F5F5;
  border-radius: 10px;
  height: 75px;
}
@media (min-width: 576px) {
  .main-index .index-card-stack div {
    padding: 20px 30px 20px 30px;
    margin-bottom: 30px;
    height: 100px;
  }
}
@media (min-width: 992px) {
  .main-index .index-card-stack div {
    height: 120px;
  }
}
.main-index .index-card-stack div h5 {
  text-align: left;
  margin: 0;
}
@media (min-width: 768px) {
  .main-index .index-card-stack div h5 {
    margin: 10px 0 25px 0;
  }
}
.main-index .index-card-stack div h5 span {
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  background-color: #8AA6A3;
}
@media (min-width: 768px) {
  .main-index .index-card-stack div h5 span {
    padding: 10px;
  }
}
@media (min-width: 992x) {
  .main-index .index-card-stack div h5 span {
    margin: 8px;
  }
}

.main-programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* page title */
  /* graduate or undegraduate nav */
  /* bootstrap cards */
}
.main-programs .programs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5%;
  margin-bottom: 15px;
  color: black;
  font-size: 1.7em;
  font-family: lato-bold;
}
@media (min-width: 576px) {
  .main-programs .programs {
    font-size: 1.9em;
  }
}
.main-programs .nav-grad-undergrad {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 0%;
}
.main-programs .nav-grad-undergrad .nav-grad-active,
.main-programs .nav-grad-undergrad .nav-undergrad-active {
  font-size: 20px;
  font-family: lato-bold;
  border-bottom: solid 2.5px #10403B;
  text-align: center;
  width: 50%;
  padding: 0.5%;
  margin: 0.5% 2% 0.5% 2%;
}
.main-programs .nav-grad-undergrad .nav-grad,
.main-programs .nav-grad-undergrad .nav-undergrad {
  font-size: 20px;
  text-align: center;
  width: 50%;
  padding: 0.5%;
  margin: 0.5% 2% 0.5% 2%;
}
.main-programs .program-cards {
  margin: 1% 2% 10% 2%;
}
.main-programs .program-cards div .cardmaxwidth {
  max-width: 500px;
}
.main-programs .program-cards div .cardmaxwidth .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-programs .program-cards div .cardmaxwidth .card-body .card-title {
  font-family: lato-regular;
  font-size: 1.3em;
}

.page-container {
  margin: 10px 25px 10px 25px;
}

.page-sections {
  margin-bottom: 30px;
}

/* degree list pages */
/* title & button */
.programs-display {
  margin-bottom: 30px;
  padding: 0 5% 0 5%;
  display: grid;
  grid-template-columns: 60% auto;
  align-items: center;
}
.programs-display .programs-title {
  font-size: 1em;
  margin: 0;
  padding: 0 0 0 2%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .programs-display .programs-title {
    font-size: 1.1em;
  }
}
@media (min-width: 992px) {
  .programs-display .programs-title {
    font-size: 1.3em;
  }
}
@media (min-width: 1200px) {
  .programs-display .programs-title {
    font-size: 1.4em;
  }
}
.programs-display .programs-title .programs-title-h2 {
  margin: 0;
  padding: 0;
  height: auto;
  align-items: center;
}
.programs-display .goback-button {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* program collapse boxes */
.programs-collapse {
  margin: 3% 5% 3% 5%;
}
.programs-collapse .programs-collapse-items {
  margin-bottom: 3px;
}
.programs-collapse .programs-collapse-items .programs-collapse-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 768px) {
  .programs-collapse .programs-collapse-items .programs-collapse-button {
    padding: 2%;
  }
}
.programs-collapse .programs-collapse-items .programs-collapse-button .programs-collapse-name {
  margin: 5px 0 5px 0;
  font-family: lato-bold;
}
@media (min-width: 1200px) {
  .programs-collapse .programs-collapse-items .programs-collapse-button .programs-collapse-name {
    font-size: 1.2em;
  }
}/*# sourceMappingURL=estilos.css.map */