/* reset */

* {
    padding: 0;
    margin: 0;
}

/* general style */

html {
    font-family: 'lato-regular';
}

img {
    width: auto;
    height: 55%;
    max-height: 400px;
    margin-bottom: 2%;
}

a {
    text-decoration: none;
    color: #10403B;
}

ul {
    list-style-type: none;
}

body {
    display: grid;
    grid-template-rows: 74px auto 50px;
    min-height: 100vh;

    header{

        .navbar-main{
            background-color: white !important;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 20px;
    }
    
    footer {
        background-color: #10403B;
        color: #8AA6A3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1%;
        bottom: 0;
        margin: 0;
        @media (min-width: 576px) {
            justify-content: right;
            padding: 1%;
        }

        .footer-text {
            font-style: italic;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            margin-right: 2%;
        
            p {
                padding: 0;
                margin: 0;
            }
        }

        .footer-links {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 20%;
            @media (min-width: 576px) {
                width: 12%;
            }
            @media (min-width: 992px) {
                width: 9%;
            }
        }
    }
}

